@font-face {
  font-family: 'Manrope';
  src: url('./Manrope.woff2') format('woff2');
}

$background: #050505;
$color: #fff;
$font: Manrope;
$font-explication: helvetica, sans-serif;


html, body {
  margin: 0;
  position: fixed;
  background-color: $background;
  color: #fff;
  font-family: $font;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.model {
  position: absolute;
  display: flex;
  width: 100vw;
  z-index: -9999;
}


.header {
  position: absolute;
  display: flex;
  background-color: $background;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: max-content;
  z-index: 9999;

  h1 {
    font-family: "Helvetica", sans-serif;;
    height: auto;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 28px;
    padding: 85px 64px;
  }

  .menu {

    .help {
      background-color: $background;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 8px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 5px solid $color;
      margin: 0 64px;
      opacity: 1;
      transform: translateY(50%);
      transition: opacity 0.5s ease-in-out;
      z-index: 1;
    }

    .cross {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 8px;
      width: 48px;
      height: 48px;
      margin: 0 64px;
      border-radius: 50%;
      border: 5px solid $color;
      opacity: 0;
      transform: translateY(-50%);
      transition: opacity 0.5s ease-in-out;

    }

    .cross::before, .cross::after {
      position: absolute;
      content: '';
      border-top: 5px solid $color;
      border-left: 5px solid $color;
      width: 30px;
      height: 30px;
      transform: rotate(-45deg) translate(43%, 43%);
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    .cross::before {
      transform: rotate(45deg) translate(-43%, 43%);
      border-right: 5px solid $color;
      border-left: none;

    }
  }
}

.menu.active {
  .help {
    opacity: 0 ;
  }

  .cross {
    opacity: 1 ;
  }

  .cross::before, .cross::after {
    opacity: 1 ;
  }

}

.giro3D {
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  svg {
    width: 250px;

    #Calque_1 {

      transform-origin: center;
      animation: giro 10s infinite;

      @keyframes giro {
        0% {
          transform: rotateX(34deg) rotateY(17deg) rotateZ(2deg);
        }
        25% {
          transform: rotateX(347deg) rotateY(327deg) rotateZ(348deg);
        }
        50% {
          transform: rotateX(34deg) rotateY(17deg) rotateZ(2deg);
        }
        75% {
          transform: rotateX(347deg) rotateY(327deg) rotateZ(348deg);
        }
        100% {
          transform: rotateX(34deg) rotateY(17deg) rotateZ(2deg);

        }
      }
    }

    h2 {
      width: 751px;
      font-size: 40px;
      font-style: normal;
      font-weight: normal;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.change {
  background-color: $background;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 0;

  #input, #text {
    position: absolute;
    display: flex;
    background: none;
    border: none;
    padding: 0;
    font-size: 128px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0;
    font-family: $font;
  }

  #text {
    span {
      letter-spacing: initial;
      margin: 0.15em;
      border-bottom: 6px solid #fff;
    }
  }


  #input, #input:focus {
    max-width: 95vw;
    letter-spacing: 0.35em;
    color: transparent;
    outline: none;
    transform: translateX(20px);

  }
}

.explication_page {
  position: fixed;
  background-color: $background;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;

  .text_explication {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 48px;
    width: 87%;
    height: 100vh;
    padding: 0 64px;
    font-family: $font-explication;
    font-weight: 300;
    z-index: 9998;
  }

  .footer {
    position: absolute;
    display: flex;
    opacity: 0;
    flex-direction: row;
    width: 100vw;
    height: max-content;
    bottom: 0;
    font-family: $font-explication;
    font-weight: 300;
    transition: all 0.3s ease-in-out;


    .credit {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      height: max-content;
      font-size: 32px;
      border-right: 2px solid #fff;
      border-top: 2px solid #fff;
      border-right: none;
      gap: 32px;

      p {
        margin: 0;
        padding: 64px;
        width: 80%;
      }
    }

    .gobelins {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 30%;
      border-left: 2px solid #fff;
      border-top: 2px solid #fff;


      img {
        padding: 64px;
        width: 100%;
      }
    }
  }

}

